{% include 'main.html' %}

      <div class="container d-flex align-items-center" style="min-height: 50vh;" >
        <table class="table " id="csvTable">
            
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                <!-- Iterate through the billionaires' data -->
                {% for billionaire in billionaires_data %}
            <tr>
                <td>{{ billionaire.Name }}</td>
                <td>{{ billionaire.Rank }}</td>
                <td>{{ billionaire.FinalWorth }}</td>
                <td>{{ billionaire.Source }}</td>
                <td>{{ billionaire.Organization }}</td>
                <td>{{ billionaire.selfMade }}</td>
                <td>{{ billionaire.status }}</td>
                <td>{{ billionaire.Industry }}</td>
            </tr>
        {% endfor %}
            </tbody>
          </table>

      </div>
      <script>
        $(document).ready(function () {
            $('#csvTable').DataTable();
        });
    </script>
    
      
</body>
</html>
