{% include 'main.html' %}

      <div class="container d-flex align-items-center" style="min-height: 50vh;" >
        <table class="table " id="csvTable">
            
            <thead>
              <tr>

                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">FinalWorth</th>
                <th scope="col">Source</th>
                  <th scope="col">Organization</th>
                  <th scope="col">Self Made</th>
                  <th scope="col">Status</th>
                  <th scope="col">Industry</th>
              </tr>
            </thead>
            <tbody>
                <!-- Iterate through the billionaires' data -->
                {% for billionaire in page_billionaires %}
            <tr>
                <td>{{ billionaire.Name }}</td>
                <td>{{ billionaire.Rank }}</td>
                <td>{{ billionaire.FinalWorth }}</td>
                <td>{{ billionaire.Source }}</td>
                <td>{{ billionaire.Organization }}</td>
                <td>{{ billionaire.selfMade }}</td>
                <td>{{ billionaire.status }}</td>
                <td>{{ billionaire.Industry }}</td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
            <div class="pagination">
        <span class="step-links">
            {% if page_billionaires.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_billionaires.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_billionaires.number }} of {{ page_billionaires.paginator.num_pages }}.
            </span>

            {% if page_billionaires.has_next %}
                <a href="?page={{ page_billionaires.next_page_number }}">next</a>
                <a href="?page={{ page_billionaires.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
      </div>
      <script>
        $(document).ready(function () {
            $('#csvTable').DataTable();
        });
    </script>
    
      
</body>
</html>
