{% include 'main.html' %}

      <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <form>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputSurname" class="form-label">Surname:</label>
                <input type="text" class="form-control" id="exampleInputSurname" aria-describedby="surnameHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" style="color: #AD6C37; border-color: #AD6C37; background-color: #FFED72;">Submit</button>
        </form>
    </div>
    <script>
        function validateEmail() {
            var emailInput = document.getElementById('exampleInputEmail1');
            var emailHelp = document.getElementById('emailHelp');

            if (!emailInput.value.includes('@')) {
                emailHelp.textContent = 'Invalid email address. Please include "@" symbol.';
                emailHelp.style.color = 'red';
                return false;
            } else {
                emailHelp.textContent = ''; // Clear any previous error message
                return true;
            }
        }
    </script>
</body>
</html>
